.projects {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.project__left {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
  transform: translateY(10%);
}

.project__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project__intro img {
  width: 50%;
  object-fit: cover;

  filter: drop-shadow(1px 1px 1px #414141);
}

.project__title {
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
  position: relative;
  display: flex;
}

.project__title span {
  position: absolute;
  bottom: 0;
  right: -26%;
  top: -40%;
}

.project__divider {
  position: absolute;
  right: 19%;
}

.project__right {
  flex: 10;
  height: 100%;
  transform: translateY(10%);
}

.project__container {
  padding: 35px 20px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project__card {
  display: flex;
  width: 85%;
  margin: 15px;
  align-items: center;

  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.6);
}

.card__left,
.card__right {
  flex: 1;
}

.card__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  padding: 10px 0;
  justify-content: space-around;
}

.card__title {
  width: 100%;
  font-size: 17px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
  letter-spacing: 1px;
}

.card__links {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card__links a {
  margin: 0 12px;
  color: lightblue;
  font-size: 18px;
  font-family: cursive;
  text-decoration: none;
  font-weight: 500;
}

.card__links a:hover {
  color: white;
}

.project__image {
  margin-right: 1.3rem;
  width: 400px;
}

.project__image img {
  object-fit: cover;
  width: 100%;
}

.backdrop div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: all ease-in-out 200ms;
}

.card__border {
  width: 100%;
  background-color: rgb(230, 230, 230);
  height: 1px;
  margin: 5px 0;
}

@media only screen and (max-width: 1150px) {
  .projects {
    flex-direction: column;
    overflow-x: hidden;
  }

  .project__left {
    width: 100%;
  }

  .project__intro {
    width: 50%;
    justify-content: flex-start;
    padding: 10px 0;
  }

  .project__intro img {
    width: 25%;
  }

  .project__title {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .project__title span {
    right: -45%;
    top: -75%;
  }

  .project__divider {
    transform: rotate(90deg);
    right: 50%;
    top: -40%;
  }

  .project__container {
    justify-content: center;
  }

  .project__card {
    width: 100%;
  }

  .card__title {
    font-size: 13px;
  }
}

@media only screen and (max-width: 750px) {
  .project__intro {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .project__image {
    width: 100%;
    border: none;
  }

  .project__image img {
    width: 100%;
    object-fit: cover;
  }

  .project__divider {
    display: none;
  }

  .project__container {
    flex-wrap: wrap;
    padding-top: 0;
  }

  .project__title {
    font-size: 18px;
  }

  .project__title span {
    display: none;
  }

  .card__title {
    font-size: 12px;
    letter-spacing: 0;
  }

  .card__border {
    display: block;
  }

  .project__card {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    flex-direction: column;
  }
}
